@import 'https://fonts.googleapis.com/css?family=Exo|Merienda+One|Satisfy|Stalemate|Megrim|Poiret+One|Lato|Bad+Script';
@import url(http://weloveiconfonts.com/api/?family=brandico);
@font-face {
  font-family:"icomoon";
  src:  url('../fonts/icomoon.eot?eolywy');
  src:  url('../fonts/icomoon.eot?eolywy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eolywy') format('truetype'),
    url('../fonts/icomoon.woff?eolywy') format('woff'),
    url('../fonts/icomoon.svg?eolywy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before { content: "\e900";}
.icon-profile:before { content: "\e902";}
.icon-folder-open:before { content: "\e903";}
.icon-user:before { content: "\e904";}
.icon-contact:before { content: "\e905";}
.icon-facebook:before { content: "\e907";}
.icon-facebook2:before { content: "\e908";}
.icon-instagram:before { content: "\e901";}
.icon-twitter:before { content: "\e906";}
.icon-github:before { content: "\e909";}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
.right a, nav .brand-logo { color: #8a8683; }
.nav-icon{
  padding: 5%;
  background: #1ABC9C;
  color: rgba(255,255,255, .8);
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 2.1em;
}
.right a:hover { color: #fff; }
.menu{ background: #FFFFFF; }
.menu li:hover{ background: #1ABC9C; }
#nav-mobile li a{ font-size: 16px; }
#nav-mobile li a:hover{
  background: #36e4c2;
}
.button-collapse { color: #1ABC9C; }
#logo-container {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  text-decoration: none;
  float: left;
}
.brand-logo {
  color: #8a8683;
  margin: 5px;
}
.brand-logo > span { color: #1ABC9C; }
section {
  text-align: center;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}
#home{
  background: url(../images/00.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F0F0F0;
  width: 100%;
  padding: 80px 0 80px;
}
.separator { 
  margin: 0 auto;
  border: 2px #ffffff solid; 
  background: rgba(255,255,255,0.1);
  width: 40%;
}
.info{
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 1.3em;
   text-shadow: 2px 2px 3px #000;
}
.titulo{
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  color: #1ABC9C;
  text-shadow: 2px 2px 3px #000;
}
#about{
  height: 80%;
  padding: 120px 0 120px;
}
h2{
  font-family: 'Bad Script', cursive;
  font-size: 4em;
  color: #8A8683;
}
.acercade{
  width: 90%;
  margin: 0 auto;
}
.euli{
  float: right;
  position: relative;
  width: 300px;
  height: 225px;
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom:  -2.5em;
}
.box {
  display: inline-block;
  position: relative;
  top: 5vh;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.35rem;
}
.box-inner { padding: .5rem; }
.box-img img {
  -webkit-transform: translateY(-6.5rem);
          transform: translateY(-6.5rem);
  margin-bottom: 2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.box-content { margin-top: -8rem; }
.name {
  font-size: 2rem;
  margin: 0;
  margin-bottom: .5rem;
  color: #8A8683;
}
.title {
  margin-top: -8px;
  color: #8A8683;
}
.bio{
  font-size: 1.1em;
  color: #8A8683;
  text-align: justify;
}
.cv-info{
  background: #FFFFFF;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #8A8683;
  width: 270px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 0.35rem;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.cv-info > hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(138, 134, 131, 0), rgba(138, 134, 131, 0.75), rgba(138, 134, 131, 0));
}
.cv-tit{
  font-family: 'Satisfy';
  font-weight:100;
  letter-spacing: 2px;
  text-transform:capitalize;
  font-size: 2.5em;
  color: #8A8683;
  margin-bottom: 5px;
}
#frase{
  background: url(../images/01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F0F0F0;
  color: #ffffff;
  padding: 50px 0 50px;
  text-shadow: #000000 2px 2px 5px;
}
.frasetext{
  font-family: 'Exo', sans-serif;
  font-size: 4em;
}
.fraseabout{
  font-family: 'Stalemate', cursive;
  font-weight:100;
  text-transform:capitalize;
  font-size: 3em;
}
#proyectos{
  height: 80%;
  padding: 120px 0 120px;
}
.gallery{
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
#card {
  height: 220px;
  width: 220px;
  box-sizing: border-box;
  margin: 10px 13px 10px 13px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
#card img {
  width: 220px;
    height: 220px;
  display: block;
  max-width: 100%;
}
.gallery figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.gallery figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  vertical-align: middle;
}
.gallery > #card:hover figcaption { opacity: 1;}
.gallery img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
}
.gallery > #card:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.gallery figcaption p {
  display: table-cell;
  font-size: 1.3em;
  position: relative;
  top: -40px;
  width: 220px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}
.gallery > #card:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.gallery figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}
#contact{
  background-color: #EDEDED;
  padding: 30px 0 30px;
}
div.social li {
  display: inline-block;
  margin: 0px 2px;
  height: 55px;
  width: 55px;
  font-size: 2.3em;
  color: #AAAAAA;
}
div.social li.col:hover {color: #1ABC9C;}
.h3{
  color: #FFFFFF;
  font-size: 2em;
}
.txt{
  color: #FFFFFF;
  font-size: 1.2em;
}
::-webkit-scrollbar{
    width: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #1ABC9C;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,188,155,0.8);
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #1ABC9C;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,188,155,0.8);
    cursor: pointer;
}
@media screen and (max-width: 560px) {
  .box{
    top:10vh;
  }
  .euli{
    width: 80%;
    float: none;
    margin: 0 auto;
    margin-bottom: -10px;
  }
  .separator{
    width: 80%;
    height: 10%;
  }
  .cv-info{
    width: 230px;
  }
}
@media screen and (max-width: 400px) {
.bio{
  margin-top: 30px;
}
}
@media screen and (max-width: 340px) {
.frasetext{
  font-size: 3.5em;
}
div.social li{
  margin-right: -7px;
  font-size: 2em;
  }
}
