body, div,h1, h2, h3, h4, h5, h6,p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,fieldset, form, label, legend, th, td,article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
a:active,
a:hover {
  outline: 0;
}
.container{
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index:1;
}
.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  text-decoration: none;
  color: #FFFFFF;
  float: left;
}
.logo > .pa {
  color: #8a8683;
  margin: 10px 0;
}
.logo > .pa span {
  color: #009587;
}
#nav {
  text-align: right;
  margin: 10px 0 0 0;
}
.navigation {
  float: right;
  list-style: none;
  margin: 14px;
}
.navigation li {
  float: left;
  padding:0 0 0 30px;
}
.navigation > li > a{
  color: #26A69A;
  text-decoration: none;
}
.navigation >li >a:hover {
  cursor: pointer;
  color: #009587;
  background: #F9F9F9;
  border-radius: 10%;
}
.navigation {
  cursor: pointer;
  color: #009eff;
}
.navigation a li {
  color: #8A8683;
  text-decoration: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
section {
  text-align: center;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}
.separator { 
  margin: 0 auto;
  border: 1px #ffffff solid; 
  width: 40%;
}
.info{
  font-family: sans-serif;
  
  color: #FFFFFF;
  font-size: 110%;
  text-shadow: #000 2px 2px 5px;
}
.titulo{
font-family: 'Exo', sans-serif;
font-size: 5em;
color: #009587;
text-shadow: #000 2px 2px 5px;
}
#home{
  background-image: url('../images/00.jpg');
  background-color: #F0F0F0;
  background-position: center !important;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding: 130px 0 0;
}
#about{
  height: 80%;
  padding: 90px 0 0;
}
h2{
  font-family: 'Exo', sans-serif;
  font-size: 4em;
  color: #009587;
}
.acercade{
  width: 80%;
  margin: 0 auto;
}
.euli{
  border-radius: 150px;
  float: right;
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: -1em;
}
.bio{
  color: #8A8683;
  text-align: justify;
}
#frase{
  background-image: url('../images/02.jpg');
  background-color: #F0F0F0;
  background-position: center !important;
  background-size: cover;
  height: 300px;
  color: #ffffff;
  padding: 140px 0 0;
  text-shadow: #000000 2px 2px 5px;
}
.frasetext{
  font-size: 5em;
  margin: 10px;
}
.fraseabout{
  font-size: 1.8em;
  font-weight: 400;
}
#portafolio{
  padding: 50px 0 0;
  padding-bottom: 150px;
  height: 80%;
}
#port{
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
#card {
  width: 220px;
  height: 250px;
  margin: 10px 13px 10px 13px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  background: #009587;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
  -webkit-filter: blur(1px) grayscale(90%);
}
#card:hover{
  -webkit-filter: contrast(1);
}
.imgtit {
  line-height: 25px;
  height: 40px;
  color: #eeeeee;
  background: #009587;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
#contac{
  background-image: url('../images/fondo2.jpg');
  background-color: #F0F0F0;
  background-position: center !important;
  background-size: cover;
  height: 500px;
  padding: 130px 0 0;
}
.h3{
  color: #FFFFFF;
  font-size: 2em;
}
.txt{
  color: #FFFFFF;
  font-size: 1.2em;
}
::-webkit-scrollbar{
    width: 5px;
    background: #ddd;
}
 
::-webkit-scrollbar-thumb {
    background: #444;
    cursor: pointer;
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgba(150,150,150,0.8);
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 5px;
    background: #ddd;
}
 
::-webkit-scrollbar-thumb {
    background: #444;
    cursor: pointer;
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgba(150,150,150,0.8);
    cursor: pointer;
}
@media screen and (max-width: 800px) {
.logo{
  margin-top: -10px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
.navigation{
  margin:5px 0;
  float:left;
  left:50%;
  list-style-type:none;
  padding:0;
  position:relative;
}
.navigation li{
 float:left;
 position:relative;
 right:50%;
}
#home{
  padding: 80% 0 0;
}
h2, .titulo{
    font-size: 3em;
  }
.separator {  
  width: 85%;
}
#about{
  height: 60%;
  padding: 90px 0 0;
}
.acercade{
  width: 90%;
  margin-left: 1em;
  margin-right: 1em;
}
.euli{
  width: 250px;
  height: 250px;
  margin-left: 1em;
}
.frasetext{
  font-size: 3.8em;
  margin: 10px;
}
}
@media screen and (max-width: 368px) {
.frasetext{
  font-size: 3em;
  margin: 10px;
}
.navigation{
  margin:5px 0;
  width: 100%;
}
.navigation li{
  font-size: 0.8em;
}
.h3{
  color: #FFFFFF;
  font-size: 1.8em;
}
.txt{
  color: #FFFFFF;
  font-size: 1em;
}
}
@media screen and (max-width: 355px) {
.navigation{
  margin:5px 0;
  width: 100%;
}
.navigation li{
  font-size: 0.5em;
}
}
